

    <div class="navbar">
    <h1>Bustle</h1>
    <ul>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    </ul>
  </div>


<div class="wrapper">
      {{outlet}}
</div>

  <hr>

  <footer>
    {{#link-to 'contact'}}{{/link-to}}
  </footer>
