
    {{#each model as |article|}}
    <div class="container">
     {{article-tile article=article}}
     </div>
  {{/each}}


{{new-article save2="save3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
